@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #050505;
    --background: #ffffff;
    --content: #ffffff;
    --muted: #f0f0f0;
    --foreground: #202020;
    --muted-foreground: #424242;
    --border: #5a5a5a;

    --shadow-sm: 0 1px 2px #ffffff30, 0 1px 3px #00000020;
    --shadow-inner-sm: inset 0 1px 2px #ffffff30, inset 0 1px 3px #00000020;
  }

  .dark {
    --primary: #ffffff;
    --background: #050505;
    --muted: #1d1d1d;
    --content: #111111;
    --foreground: #fafafa;
    --muted-foreground: #bdbdbd;
    --border: #242424;

    --shadow-sm: 0 1px 2px #ffffff30, 0 1px 2px #00000015;
    --shadow-inner-sm: inset 0 2px 4px #00000030, inset 0 -2px 12px #00000010;
  }

  body {
    font-family: "Comissioner", sans-serif;
    @apply bg-background text-foreground;
  }

  li {
    list-style: none;
  }

  .content li {
    list-style: disc;
    margin: 8px 20px;
  }

  .content > p {
    margin: 14px 0;
    line-height: 2rem;
  }

  .content hr {
    margin: 24px 0;
  }

  .content h1 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .content h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .content h3 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .content h4 {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .content h2,
  .content h3,
  .content h4 {
    margin: 16px 0;
    font-weight: bold;
  }

  .content pre {
    padding: 16px;
    border-radius: 8px;
  }

  .content a {
    @apply underline;
  }
}
